	<footer id="site-footer">

		<div class="row">

			<div class="small-3 column text-left tagline">WordPress Development</div>

			<div class="small-6 column"><div class="daniel-mug"></div></div>

			<div class="small-3 column text-right tagline">Portland, OR.</div>

		</div>

		<div class="row">
			<div class="copy text-center tagline">&copy; 2014 Daniel Bachhuber, Hand Built &bull; All Rights Reserved</div>
		</div>
		
	</footer>

	{{function('wp_footer')}}

	</body>

</html>