	<footer id="site-footer">

		<div class="row">

			<span class="small-3 column text-left">WordPress Development</span>

			<div class="small-6 column"></div>

			<span class="small-3 column text-right">Portland, OR.</span>

		</div>

		<div class="row">
			<span class="copy text-center">&copy; 2014 Daniel Bachhuber, Hand Built &bull; All Rights Reserved</span>
		</div>
		
	</footer>

	{{function('wp_footer')}}

	</body>

</html>