{% extends "base.twig" %}
{% block content %}

	<article>

		<section id="lead" class="no-border">
			<div id="description" class="row">Hand Built is Daniel Bachhuber, a passionate developer who uses WordPress to make the world a better place.</div>
		</section>

		<section id="services" class="panel">
			<div class="row">
				<h1>Services</h1>

			</div>
		</section>

		<section id="my-work" class="panel">
			<div class="row">
				<h1>My Work</h1>

			</div>
		</section>

		<section id="contact" class="panel">
			<div class="row">
				<h1>Contact Hand Built</h1>

			</div>
		</section>

        
	</article>

{% endblock %}
